<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Created</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record:${records}">
        <td th:text="${record.id}"></td>
        <td th:text="${record.fullName}"></td>
        <td th:text="${record.email}"></td>
        <td th:text="${record.phone}"></td>
        <td th:text="${record.address}"></td>
        
        <td th:text="${#dates.format(record.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        
        <td>
            <a href="javascript:void(0)" th:rel="${record.id}" class="btn btn-success btn-xs edit-btn">
                <span class="glyphicon glyphicon-pencil"></span>
            </a> 
            <a href="javascript:void(0)" th:rel="${record.id}" class="btn btn-danger btn-xs delete-btn">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    $(function(){
        createDataTable('.table');
    });
</script>