<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="javascript:void(0)" class="btn btn-primary btn-xs add-btn">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="table-block"></div>
            </div>
            <!-- /.box-body -->

        </div>
    </div>    
</div>
